section#showcase {
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url(/images/showcase-bg.jpeg) center / cover no-repeat;

  .showcase-btn {
    background-color: var(--bs-orange);
    color: var(--bs-white);
  }
}
