.container {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

$sides: (
  t: top,
  l: left,
  r: right,
  b: bottom,
  x: inline,
  y: block,
);

@each $key, $side in $sides {
  @for $i from 0 through 5 {
    .m#{$key}-#{$i} {
      margin-#{$side}: $i * 0.75rem;
    }

    .p#{$key}-#{$i} {
      padding-#{$side}: $i * 0.75rem;
    }
  }
}

@each $key, $color in $colors {
  .text-#{$key} {
    color: $color;
  }

  .bg-#{$key} {
    background-color: $color;
  }

  .b-shadow-#{$key} {
    box-shadow: 0 0 20px $color;
  }

  .t-shadow-#{$key} {
    text-shadow: 0 0 20px $color;
  }
}
